.container-fluid {
    padding: 1.5em;
}

.custom-container {
    font-family: $default-font-family;
    color: $primary-color-default;
    background-color: $secondary-color-light;
    margin: 0;
    padding: 5em 0;
    height: 100%;
  }

