<div class="row">
  <div class="col-xs-12">
    <img [src]="monomeal.imagePath" alt="{{ monomeal.name }}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ monomeal.name }} </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"
    appDropdown>
      <button 
      type="button" 
      class="btn default-button dropdown-toggle">
      Manage Monomeal <span class="caret"></span>
      </button>
      <ul class="default-button dropdown-menu">
        <li><a (click)="onAddToFeedbackList()" style="cursor: pointer;"> To Monmoeal </a></li>
        <li><a style="cursor:pointer;"> Edit Monmoeal </a></li>
        <li><a style="cursor:pointer;"> Delete Monmoeal </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ monomeal.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let wellbeing of monomeal.wellbeings">
      {{ wellbeing.name }} - {{ wellbeing.state}}
      </li>
    </ul>
  </div>
</div>